{
  "openapi": "3.0.0",
  "info": {
    "title": "FastAPI",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://jalchar-api.bnhs.org/"
    }
  ],
  "paths": {
    "/app/add_observation/": {
      "post": {
        "summary": "Get Observations Add",
        "operationId": "get_observations_add_app_add_observation__post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_get_observations_add_app_add_observation__post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/app/show_feed/": {
      "post": {
        "summary": "Show Feed",
        "operationId": "show_feed_app_show_feed__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowFeedData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/app/check_return/": {
      "get": {
        "summary": "Check Query",
        "operationId": "check_query_app_check_return__get",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "title": "Email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/app/show_media/": {
      "get": {
        "summary": "Show Media",
        "operationId": "show_media_app_show_media__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/dynamic_sightings/": {
      "post": {
        "summary": "Get Dynamic Sightings",
        "operationId": "get_dynamic_sightings_dynamic_sightings__post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/app/dynamic_sightings/": {
      "post": {
        "summary": "Get App Dynamic Sightings",
        "operationId": "get_app_dynamic_sightings_app_dynamic_sightings__post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Home",
        "operationId": "Home__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/app/verification/": {
      "post": {
        "summary": "User Verification",
        "operationId": "user_verification_app_verification__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserVerification"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/app/register/": {
      "post": {
        "summary": "User Registration",
        "operationId": "user_registration_app_register__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/app/show_user_details/": {
      "post": {
        "summary": "Show User Details",
        "operationId": "show_user_details_app_show_user_details__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AndroidUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/app/get_districts/": {
      "get": {
        "summary": "Show District List",
        "operationId": "show_district_list_app_get_districts__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/app/get_villages/": {
      "post": {
        "summary": "Get Village List",
        "operationId": "get_village_list_app_get_villages__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistrictId"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/app/update_user_details/": {
      "put": {
        "summary": "Update User Details",
        "operationId": "update_user_details_app_update_user_details__put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/apk_release": {
      "get": {
        "summary": "Jalchar",
        "operationId": "jalchar_apk_release_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/google_login/": {
      "post": {
        "summary": "Login",
        "operationId": "login_google_login__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleLogin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/show_admin_feed/": {
      "post": {
        "summary": "Show Feed",
        "operationId": "show_feed_show_admin_feed__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowAdminFeed"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sighting_stats/": {
      "post": {
        "summary": "Sighting Data",
        "operationId": "sighting_data_sighting_stats__post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/admin_details/": {
      "post": {
        "summary": "Show Admin Details",
        "operationId": "show_admin_details_admin_details__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminEmail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sighting_tags/": {
      "get": {
        "summary": "Get Sightings List",
        "operationId": "get_sightings_list_sighting_tags__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/species_list/": {
      "post": {
        "summary": "Species List",
        "operationId": "species_list_species_list__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowSpeciesData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/activity_log/": {
      "post": {
        "summary": "Activity Log",
        "operationId": "activity_log_activity_log__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowObservationData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/collect_admin_response/": {
      "post": {
        "summary": "Admin Response",
        "operationId": "admin_response_collect_admin_response__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObservationDetailsResponse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/show_observation/": {
      "post": {
        "summary": "Show Observations",
        "operationId": "show_observations_show_observation__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowObservationData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/upsert_user/": {
      "post": {
        "summary": "Upsert User",
        "operationId": "upsert_user_upsert_user__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/delete_user/": {
      "delete": {
        "summary": "Delete User",
        "operationId": "delete_user_delete_user__delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAdminDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/list_all_users/": {
      "post": {
        "summary": "List All Users",
        "operationId": "list_all_users_list_all_users__post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/list_all_users_jwt/": {
      "post": {
        "summary": "List All Users Jwt",
        "operationId": "list_all_users_jwt_list_all_users_jwt__post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/tag_location/": {
      "put": {
        "summary": "Receive Location",
        "operationId": "receive_location_tag_location__put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/list_location/": {
      "get": {
        "summary": "List Tagged Location",
        "operationId": "list_tagged_location_list_location__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/complete_species_list/": {
      "get": {
        "summary": "Complete Species List",
        "operationId": "complete_species_list_complete_species_list__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/upsert_species/": {
      "put": {
        "summary": "Upsert Species List",
        "operationId": "upsert_species_list_upsert_species__put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeciesDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/delete_species/": {
      "delete": {
        "summary": "Delete Species",
        "operationId": "delete_species_delete_species__delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowSpeciesID"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/upsert_sightings/": {
      "put": {
        "summary": "Crud Sightings",
        "operationId": "crud_sightings_upsert_sightings__put",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_crud_sightings_upsert_sightings__put"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/web/delete_sightings/": {
      "delete": {
        "summary": "Delete Sightings",
        "operationId": "delete_sightings_web_delete_sightings__delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SightingDelDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sighting_sequence/": {
      "post": {
        "summary": "Update Sighting Sequence",
        "operationId": "update_sighting_sequence_sighting_sequence__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSequence"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdminDetails": {
        "title": "AdminDetails",
        "required": [
          "created_by",
          "email",
          "name",
          "role"
        ],
        "properties": {
          "ar_id": {
            "title": "Ar Id",
            "anyOf": [
              {},
              {}
            ]
          },
          "name": {
            "title": "Name"
          },
          "email": {
            "title": "Email"
          },
          "role": {
            "title": "Role"
          },
          "created_by": {
            "title": "Created By"
          }
        }
      },
      "AdminEmail": {
        "title": "AdminEmail",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "title": "Email"
          }
        }
      },
      "AndroidUser": {
        "title": "AndroidUser",
        "required": [
          "user_id"
        ],
        "properties": {
          "user_id": {
            "title": "User Id"
          }
        }
      },
      "Body_crud_sightings_upsert_sightings__put": {
        "title": "Body_crud_sightings_upsert_sightings__put",
        "required": [
          "file",
          "sighting_details"
        ],
        "properties": {
          "sighting_details": {
            "title": "Sighting Details"
          },
          "file": {
            "title": "File",
            "format": "binary"
          }
        }
      },
      "Body_get_observations_add_app_add_observation__post": {
        "title": "Body_get_observations_add_app_add_observation__post",
        "required": [
          "files",
          "observation_details"
        ],
        "properties": {
          "observation_details": {
            "title": "Observation Details"
          },
          "files": {
            "title": "Files",
            "items": {
              "format": "binary"
            }
          }
        }
      },
      "DeleteAdminDetails": {
        "title": "DeleteAdminDetails",
        "required": [
          "ar_id",
          "created_by"
        ],
        "properties": {
          "ar_id": {
            "title": "Ar Id"
          },
          "created_by": {
            "title": "Created By"
          }
        }
      },
      "DistrictId": {
        "title": "DistrictId",
        "required": [
          "district_id"
        ],
        "properties": {
          "district_id": {
            "title": "District Id"
          }
        }
      },
      "GoogleLogin": {
        "title": "GoogleLogin",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "title": "Code"
          }
        }
      },
      "HTTPValidationError": {
        "title": "HTTPValidationError",
        "properties": {
          "detail": {
            "title": "Detail",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "LocationDetails": {
        "title": "LocationDetails",
        "required": [
          "created_by",
          "lattitude",
          "location_name",
          "longitude"
        ],
        "properties": {
          "lattitude": {
            "title": "Lattitude"
          },
          "longitude": {
            "title": "Longitude"
          },
          "location_name": {
            "title": "Location Name"
          },
          "created_by": {
            "title": "Created By"
          }
        }
      },
      "ObservationDetailsResponse": {
        "title": "ObservationDetailsResponse",
        "required": [
          "original_data",
          "updated_data",
          "version"
        ],
        "properties": {
          "updated_data": {
            "$ref": "#/components/schemas/updated_data"
          },
          "original_data": {
            "$ref": "#/components/schemas/original_data"
          },
          "version": {
            "title": "Version"
          }
        }
      },
      "ShowAdminFeed": {
        "title": "ShowAdminFeed",
        "required": [
          "page_no",
          "page_size"
        ],
        "properties": {
          "page_size": {
            "title": "Page Size"
          },
          "page_no": {
            "title": "Page No"
          }
        }
      },
      "ShowFeedData": {
        "title": "ShowFeedData",
        "required": [
          "feed_type",
          "page_no",
          "user_id"
        ],
        "properties": {
          "user_id": {
            "title": "User Id"
          },
          "limit": {
            "title": "Limit",
            "anyOf": [
              {},
              {}
            ],
            "default": 10
          },
          "page_no": {
            "title": "Page No"
          },
          "feed_type": {
            "title": "Feed Type"
          }
        }
      },
      "ShowObservationData": {
        "title": "ShowObservationData",
        "required": [
          "observation_id"
        ],
        "properties": {
          "observation_id": {
            "title": "Observation Id"
          }
        }
      },
      "ShowSpeciesData": {
        "title": "ShowSpeciesData",
        "required": [
          "sighting_id"
        ],
        "properties": {
          "sighting_id": {
            "title": "Sighting Id"
          }
        }
      },
      "ShowSpeciesID": {
        "title": "ShowSpeciesID",
        "required": [
          "created_by",
          "species_id",
          "species_name"
        ],
        "properties": {
          "species_id": {
            "title": "Species Id"
          },
          "species_name": {
            "title": "Species Name"
          },
          "created_by": {
            "title": "Created By"
          }
        }
      },
      "SightingDelDetails": {
        "title": "SightingDelDetails",
        "required": [
          "created_by",
          "sighting_name"
        ],
        "properties": {
          "sightings_id": {
            "title": "Sightings Id",
            "anyOf": [
              {},
              {}
            ]
          },
          "sighting_name": {
            "title": "Sighting Name"
          },
          "created_by": {
            "title": "Created By"
          }
        }
      },
      "SpeciesDetails": {
        "title": "SpeciesDetails",
        "required": [
          "created_by",
          "sightings_id",
          "species_name"
        ],
        "properties": {
          "sightings_id": {
            "title": "Sightings Id"
          },
          "species_name": {
            "title": "Species Name"
          },
          "species_id": {
            "title": "Species Id",
            "anyOf": [
              {},
              {}
            ]
          },
          "created_by": {
            "title": "Created By"
          }
        }
      },
      "UpdateSequence": {
        "title": "UpdateSequence",
        "required": [
          "sighting_count",
          "sighting_sequence"
        ],
        "properties": {
          "sighting_count": {
            "title": "Sighting Count"
          },
          "sighting_sequence": {
            "title": "Sighting Sequence",
            "items": {}
          }
        }
      },
      "UserDetails": {
        "title": "UserDetails",
        "required": [
          "district",
          "name",
          "phone_no",
          "village"
        ],
        "properties": {
          "id": {
            "title": "Id",
            "anyOf": [
              {},
              {}
            ]
          },
          "name": {
            "title": "Name"
          },
          "village": {
            "title": "Village"
          },
          "district": {
            "title": "District"
          },
          "phone_no": {
            "title": "Phone No"
          }
        }
      },
      "UserVerification": {
        "title": "UserVerification",
        "required": [
          "app_signature",
          "phone_no"
        ],
        "properties": {
          "phone_no": {
            "title": "Phone No"
          },
          "is_edit": {
            "title": "Is Edit",
            "anyOf": [
              {},
              {}
            ],
            "default": 0
          },
          "app_signature": {
            "title": "App Signature"
          }
        }
      },
      "ValidationError": {
        "title": "ValidationError",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "properties": {
          "loc": {
            "title": "Location",
            "items": {
              "anyOf": [
                {},
                {}
              ]
            }
          },
          "msg": {
            "title": "Message"
          },
          "type": {
            "title": "Error Type"
          }
        }
      },
      "original_data": {
        "title": "original_data",
        "required": [
          "ar_uuid",
          "is_distressed",
          "observation_id",
          "status",
          "tag_name"
        ],
        "properties": {
          "observation_id": {
            "title": "Observation Id"
          },
          "tag_name": {
            "title": "Tag Name"
          },
          "lattitude": {
            "title": "Lattitude",
            "anyOf": [
              {},
              {}
            ]
          },
          "longitude": {
            "title": "Longitude",
            "anyOf": [
              {},
              {}
            ]
          },
          "location_name": {
            "title": "Location Name",
            "anyOf": [
              {},
              {}
            ]
          },
          "observation_date": {
            "title": "Observation Date",
            "anyOf": [
              {},
              {}
            ]
          },
          "ar_uuid": {
            "title": "Ar Uuid"
          },
          "status": {
            "title": "Status"
          },
          "species_type": {
            "title": "Species Type",
            "anyOf": [
              {},
              {}
            ]
          },
          "is_distressed": {
            "title": "Is Distressed"
          }
        }
      },
      "updated_data": {
        "title": "updated_data",
        "required": [
          "updated_tag_name"
        ],
        "properties": {
          "updated_tag_name": {
            "title": "Updated Tag Name"
          },
          "updated_lattitude": {
            "title": "Updated Lattitude",
            "anyOf": [
              {},
              {}
            ]
          },
          "updated_longitude": {
            "title": "Updated Longitude",
            "anyOf": [
              {},
              {}
            ]
          },
          "updated_location_name": {
            "title": "Updated Location Name",
            "anyOf": [
              {},
              {}
            ]
          },
          "updated_observation_date": {
            "title": "Updated Observation Date",
            "anyOf": [
              {},
              {}
            ]
          },
          "updated_status": {
            "title": "Updated Status",
            "anyOf": [
              {},
              {}
            ]
          },
          "updated_species_type": {
            "title": "Updated Species Type",
            "anyOf": [
              {},
              {}
            ]
          },
          "comments": {
            "title": "Comments",
            "anyOf": [
              {},
              {}
            ]
          },
          "rejection_reason": {
            "title": "Rejection Reason",
            "anyOf": [
              {},
              {}
            ]
          },
          "updated_isdistressed": {
            "title": "Updated Isdistressed",
            "anyOf": [
              {},
              {}
            ]
          },
          "isdistressed_handled": {
            "title": "Isdistressed Handled",
            "anyOf": [
              {},
              {}
            ]
          }
        }
      }
    }
  }
}
